.ratings-bar { 
  height: .5rem;
  background: lightgray;
  border-radius: 5px;
  max-width: 100%;
  flex: 1 0 auto;
}

.ratings-bar > span {
  display: block;
  height: 100%;
  background-color: var(--purple);
  overflow: hidden;
  border-radius: 5px;
}