.favorites-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 950px;
  margin: 1.5rem auto;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.no-favorites {
  margin: 10rem auto;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.no-favorites h2 {
  margin-bottom: 0;
}

.no-favorites .white-btn {
  padding: .5rem 2rem;
  margin: 1rem auto;
  box-sizing: border-box;
}

.no-favorites .white-btn svg {
  padding-right: .5rem;
}