.update-review-div {
  margin-left: 0;
  margin-bottom: 1rem;
}

.update-rating-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  gap: 0.55rem;
}

.update-rating-btn-div button {
  padding: .5rem;
  width: 100px;
}