.splash-image-div img {
  /* aspect-ratio: ; */
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.home-page-search {
  display: flex;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 30px;
  padding: .5rem;
  justify-content: space-between;
  width: 750px;
  align-items: center;
}

#where-div,
#from-div {
  border-right: 1px solid var(--light-border);
}

#where-div {
  flex: 1;
  padding-left: .5rem;
  padding-right: .5rem;
}

#where-div input {
  width: 100%;
  box-sizing: border-box;
}

#from-div,
#until-div {
  width: 150px;
  padding-left: 1rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.home-page-search label {
  font-size: 11px;
  font-weight: 500;
}

.home-page-search input {
  border: none;
}

.home-page-search-btn {
  color: white;
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: large;
  cursor: pointer;
}

.home-page-catchphrases {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page-catchphrases h1,
.home-page-catchphrases h2 {
  text-align: center;
}

.home-page-catchphrases h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0;
}

.home-page-catchphrases h2 {
  letter-spacing: 1px;
}

.purple-bar {
  background-color: rgba(89, 60, 251, .15);
  height: 1.75rem;
  width: 620px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 40.5rem;
  margin-left: auto;
  margin-right: auto;
}

#view-vans-btn {
  width: 200px;
  margin: 1rem auto;
  border: none;
  padding: .75rem;
  border-radius: 5px;
  font-weight: 600;
}

.home-page-makes-div {
  margin: 0 auto 3rem;
  width: 1000px;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-header-arrows {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 30px;
}

.carousel-header-arrows svg {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.home-page-make-card {
  min-width: 185px;
  width: 185px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px lightgray;
  cursor: pointer;
}

.home-page-make-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.home-page-make-card h4 {
  margin: 0;
  padding: 1rem;
  font-size: 14px;
  text-align: center;
}

.carousel-container {
  width: 1000px;
  height: 15rem;
  margin: 0 auto;
}

.carousel-item {
  margin-right: 1px;
}