.create-van-form {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: space-between;
}

.van-form-body {
  display: flex;
  gap: 1rem;
}

.create-van-form input,
.create-van-form select {
  width: 240px;
  padding: .5rem;
  font-size: 14px;
  box-sizing: border-box;

}

.create-van-form label {
  font-size: 12px;
}

.create-van-form label span {
  font-size: x-small;
}

.create-van-form button {
  width: 250px;
  margin: .25rem auto;
}

.create-van-form textarea {
  width: 100%;
  height: 15rem;
  box-sizing: border-box;
}

.create-van-bottom-div {
  width: 100%;
}

#distance-input {
  margin-bottom: .25rem;
}

#unlimited-label {
  display: flex;
  align-items: center;
}

#unlimited-checkbox {
  margin: 0 0 0 .5rem;
  width: 10px;
  display: flex;
}
 #file-input {
  padding-left: 0;
 }

.van-upload-thumbnail {
  width: 100%;
  aspect-ratio: 2.2;
  object-fit: cover;
}

.van-form-btns-div {
  display: flex;
  flex-direction: column;
}