.new-review-div {
  margin-left: 4.25rem;
}

.new-review-div button {
  width: 450px;
  margin-bottom: .5rem;
}

.new-review-form label{
  font-size: 13px;
}

.new-review-form textarea {
  width: 450px;
  box-sizing: border-box;
  height: 8rem;
}

.optional {
  color: red;
  font-size: 11px;
}

.new-review-form .errors {
  margin: 0
}

.new-review-form .errors p {
  padding: 0;
}