.van-list-content {
  display: flex;
}

.van-list-ul {
  margin: 0 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 725px;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

.van-list-ul a {
  display: flex;
  width: fit-content;
}

.van-list-map-div {
  height: calc(100vh - 80px);
  width: calc(100vw - 725px);
}