#login-div {
  width: 250px;
  padding: 2rem;
}

.signup-div {
  padding: 2rem;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
}

.login-signup-form label {
  font-size: small;
  margin-bottom: .2rem;
  font-weight: 500;
}

.login-signup-form input {
  padding: .3rem .5rem;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  box-sizing: border-box;
}

.input-error {
  border: 1px solid red !important;
}

.input-wrapper {
  position: relative;
}

.error-icon,
.profile-preview {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}

.profile-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
}

.login-signup-form button {
  border: none;
  padding: .75rem;
  border-radius: 5px;
}

#login-btn {
  color: white;
  margin-bottom: .5rem;
}

.login-signup-form button:hover {
  cursor: pointer;
}

.switch-form {
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-form button {
  margin-left: 1rem;
}

.switch-form span {
  font-size: 14px;
}

.modal-link {
  color: var(--purple);
  font-weight: 500;
  font-size: 14px;
  margin: 0 auto;
}

.signup-names-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.signup-name {
  display: flex;
  flex-direction: column;
  width: 49%;
}
