#login-div {
  width: 250px;
  padding: 2rem;
}

.signup-div {
  padding: 2rem;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
}

.login-signup-form label {
  font-size: small;
  margin-bottom: .2rem;
  font-weight: 500;
}

.login-signup-form input {
  padding: .3rem .5rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.input-error {
  border: 1px solid red !important;
}

.login-signup-form button {
  border: none;
  padding: .75rem;
  border-radius: 5px;
}

#login-btn {
  color: white;
  margin-bottom: .5rem;
}

.login-signup-form button:hover {
  cursor: pointer;
}

.switch-form {
  margin: 2rem 0 1rem;
  display: flex;
}

.modal-link {
  color: var(--purple);
  font-weight: 500;
  font-size: 14px;
  margin: 0 auto;
}