/* TODO: Add sitewide styles */
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0
}

* {
  font-family: "Montserrat", sans-serif;
}

.errors {
  height: 1rem;
  margin: .4rem 0;
  color: red;
  font-size: small;
}

.errors p {
  margin: 0;
}

label {
  display: block;
}