/* TODO: Add sitewide styles */
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0
}

* {
  font-family: "Montserrat", sans-serif;
}

.errors {
  height: 1rem;
  margin: .3rem 0;
  color: red;
  font-size: 12px;
}

.errors p {
  margin: 0;
}

label {
  display: block;
}

#modal-content {
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

#modal-content h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

.submit-btn {
  background-color: var(--purple);
}

:root {
  --hover: #F3F3F3;
  --purple: #593CFB
}