.profile-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.profile-left-div {
  width: 400px;
}

.profile-right-div {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-left: 8rem;
}

.profile-owned-vans {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.profile-owned-vans .small-van-card {
  width: 230px;
}