.nav-bar {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #F3F3F3;
}

#logo {
  background-color: black;
  color: white;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 1px;
  padding: .5rem .75rem;
  height: 100%;
  display: flex;
  align-items: center;
}

#empty-header {
  flex-grow: 1;
}

#host-div {
  border: 1px solid black;
  padding: .4rem;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: black
}

#host-div:hover {
  background-color: var(--hover)
}

#host-div span {
  font-size: 11px;
  font-weight: 600;
}

.profile-button-div {
  margin-left: auto;
  height: 40px;
  display: flex;
  align-items: center;
}

.profile-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: .5rem;
  height: 100%;
  font-size: large;
  font-weight: 200;
  padding: .3rem .75rem;
  margin-right: 0;
}

.profile-img-div {
  width: 2rem;
  height: 2rem;
  margin-left: .25rem;
  display: flex;
  align-items: center;
}

.profile-img-div svg {
  padding-left: .5rem;
  height: 100%;
}

.profile-button img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
}


.profile-active,
.profile-button:hover {
  background-color: var(--hover);
}

.profile-dropdown {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(18, 18, 20, 0.15);
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  width: 250px;
  background-color: white;
  z-index: 1;
}

.profile-dropdown li {
  cursor: pointer;
  padding: .5rem;
  border-radius: 5px;
}

.profile-dropdown-links-div{
  padding-bottom: 1rem;
}

.profile-dropdown-user-div {
  padding: 1rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.profile-dropdown-manage-div {
  padding: 1rem 0;
}

.profile-dropdown-logout-div {
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

.profile-dropdown li:hover {
  background-color: var(--hover)
}