.react-datepicker__input-container input {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid var(--light-border);
  font-weight: 400;
  letter-spacing: .75px;
  /* border-radius: 4px; */
}
.react-datepicker__input-container input:focus {
  outline: none;
  border-color: var(--purple);
}

.react-datepicker {
  padding: 5px 10px;
  border-color: var(--light-border);
}

.react-datepicker-popper[data-placement^="bottom"] {  
  margin-top: 0;
}

.react-datepicker-popper {
  top: -1.7rem !important;
}

.react-datepicker__month-container,
.react-datepicker__header {
  background-color: white !important;
}

.react-datepicker__header {
  border-bottom: none;
}

.react-datepicker__day-name {
  color: grey;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}

.react-datepicker__day {
  width: 30px !important; /* Adjust as needed */
  height: 30px !important; /* Adjust as needed */
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box !important;
  margin: 4px 0 !important;
  background-color: white !important;
  border: 2px solid transparent; /* Add a transparent border */
  border-radius: 15px !important;
}

.react-datepicker__day:hover {
  border: 2px solid var(--purple);
  border-radius: 15px;
}

.react-datepicker__day--disabled {
  text-decoration: line-through;
  font-weight: 400;
}

.react-datepicker__day--in-range {
  color: var(--purple) !important;
  border: 2px solid var(--purple);
  border-right: transparent;
  border-left: transparent;
  border-radius: 0px !important;
}

.react-datepicker__day--in-range:hover {
  border-top: 2px solid var(--purple) !important;
  border-bottom: 2px solid var(--purple) !important;
  border-radius: 15px !important;
}

.react-datepicker__day--range-start,
.react-datepicker__day--in-selecting-range-start {
  border-radius: 15px 0px 0px 15px !important;
  border-right-color: transparent;
  border-left: 2px solid var(--purple) !important;
}

.react-datepicker__day--range-end,
.react-datepicker__day--in-selecting-range-end {
  border-radius: 0px 15px 15px 0px !important;
  border-right: 2px solid var(--purple) !important;
  border-left-color: transparent;
}


.react-datepicker__day--outside-month {
  visibility: hidden;
}